.navbar-nav .nav-link {
    display: flex;
    justify-content: center;
    
}

 .header-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -20px;
}

@media (min-width: 576px){
.container {
    margin-top: 0px;
}
}
@media (max-width: 414px){
    .container {
        margin-top: 0px !important;
    }
    }

.container {
    
    margin-top: 100px;
}
.mb-5 {
    margin-bottom: 3rem!important;
}

.my-3 {
    margin-bottom: 1rem!important;
}