body{
    font-family: 'Montserrat', sans-serif !important;
}
.logo{
    min-width: 35px;
    max-width: 100px;
    vertical-align: middle;
    border-style: none;
}

.header{
    margin: 0px auto 
}

.navItem{
    font-size: 20px;
    line-height: 1;
    margin-right: 30px;
    color: #000 !important;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 30px;
}

.navButton{
    margin-top: -3px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
}
.button{
    border:1px solid #3a88ec;
    padding: 6px 40px;
    color: #fff;
    border-radius: 27px;
    font-size: 20px;
    margin-bottom: 5px;
    background-color: #3a88ec;
    margin-left: 40px;
}

.button:hover{
    background-color: #ff3e81;
    border:1px solid #ff3e81;
}

.link:hover{
    text-decoration: none;
    color: #ff3e81 !important;
}

.link:visited{
    color:#000;
}