body{
    
}
.logo{
    min-width: 35px;
    max-width: 100px;
    vertical-align: middle;
    border-style: none;
}

.header{
    margin: 0px auto 
}
$left : 100px;
.navBar{
    margin-left:$left;
}

.navItem{
    font-size: 20px;
    line-height: 1;
    margin-right: 30px;
    color: #000 !important;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 60px;
    font-family: 'Montserrat', sans-serif !important;
}

.navButton{
    margin-top: -3px;
    display: flex;
    justify-content: center;
}
.button{
    border:1px solid #3a88ec;
    padding: 6px 40px;
    color: #fff;
    border-radius: 27px;
    font-size: 20px;
    margin-bottom: 5px;
    background-color: #3a88ec;
    margin-left: 30px;
}

.button:hover{
    background-color: #ff3e81;
    border:1px solid #ff3e81;
}

.link:hover{
    text-decoration: none;
    color: #ff3e81 !important;
}

.link:visited{
    color:#000;
}

.img1{
    max-width: 70%;
    margin-left: $left;
}

.content{
    font-weight: 800;
    font-size: 3.8rem;
    line-height: 1;
    background-image: url();
}

.body1{
    display: flex;
}

.headerSubtitle{
    font-size: 1.7rem;
    font-weight: 400;
    color: #212529;
}

.headerTitle{
    font-size: 3.8rem;
    color: #303669;
    font-weight: 800;
    line-height: 1;
}

.headerTitleTest{
    font-size: 1.3rem;
    font-weight: 400;
    color: #212529;
}