@mixin carousel {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    
    overflow: hidden;
}
  
.ant-carousel .slick-list{
    width: 100%;
    height: 650px;
}

.car1{
    background-image: url('../../asset/images/Sân-bóng-đá-Thanh-Tùng-–-Quận-2-–-Tp-HCM.jpg');
    @include carousel();
}

.car2{
    background-image: url('../../asset/images/san-bong-da-co-nhan-tao-ho-xuong-rong-1.jpg');
    @include carousel();
}

.car3{
    background-image: url('../../asset/images/Sân-Bóng-Đá-Mini-Thanh-Phương.jpg');
    @include carousel();
}

.car4{
    background-image: url('../../asset/images/Sân-bóng-đá-Thanh-Tùng-–-Quận-2-–-Tp-HCM.jpg');
    @include carousel(); 
}

.lastCar{
    margin: 15px auto !important;
    width: 190px;
    display: flex;
}




