$header-top: 20px;
.searchField{
    min-width: 105px !important;
    max-width: 400px !important;
    margin: $header-top  !important;
    display: fixed !important;
}

.filter{
    
    margin-left: 30px !important;
}

.city{
    min-width: 168px;
    margin-right:20px !important;
    margin-bottom: 20px !important;
}

.hometown{
    display: inline-flex;
}

.input{
    max-width: 355px;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
}

.buttonSearch{
    border:1px solid #3a88ec;
    padding: 3px 20px;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 5px;
    background-color: #3a88ec;
  
}

.buttonSearch:focus{
    outline: none;
}

.buttonSearch:hover{
    background-color: #ff3e81;
    border:1px solid #ff3e81;
    text-decoration: none;
    color: white;
}

.button{
    border:1px solid #3a88ec;
    padding: 6px 20px;
    color: #fff;
    border-radius: 27px;
    font-size: 16px;
    margin-bottom: 5px;
    background-color: #3a88ec;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.button:hover{
    background-color: #ff3e81;
    border:1px solid #ff3e81;
    text-decoration: none;
    color: white;
}

.link:hover{
    text-decoration: none;
    color: #ff3e81 !important;
}

.col{
    display: block;

    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}

@media(max-width: 545px){
    .col{
        flex: 0 0 83.33333333%;
        max-width: 83.33333333%;
        margin: auto;
    }
}
@media(max-width: 990px){
    .col{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media(max-width: 500px){
    .col{
        display: block;
        flex: 0 0 83.33333333%;
        max-width: 83.33333333%;
    }
}

